.container1 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #fd841f;
}

.container2 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #3e6d9c;
}

.container3 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #001253;
}

.container4 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #ffffff;
}

.container5 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #fd841f;
}

.container6 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #3e6d9c;
}

.container7 {
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    background-color: #001253;
}